## Structuring a Bookstore

[...do NOT click on this link...](https://www.youtube.com/watch?v=dQw4w9WgXcQ)

In today's class, we'll look at how structure and design a system to support a bookstore using the data structures we know.

### Components of our bookstore

We'll start by analyzing what _"objects"_ we can identify in a normal bookstore. Let's say, for example: _Books_, _Authors_, _Publishers_, _Customers_, _Employees_, etc. We can identify many, and it really depends on the requirements that you have to deal with. For simplicity, **our** system will have to handle the following entities:

* **Bookstores**. A bookstore has a name, a series of `Books` that has for sale and the `Authors` of those books. We could have different `Bookstores` (there are multiple bookstores in a city).
* **Authors**: From an author we want to store her/his name, their nationality and year of birth.
* **Books**: A book has a title, an ISBN and an `Author`.

As you can see, we'll have some "nesting" in our data: A `Bookstore` has `Book`s, which in turn have `Author`s. `Author`s are probably the simplest entities, they have only names, year of birth and nationalities. For example:

* Mark Twain: American (1835).
* Jane Austen: English (1775).
* Gabriel Garc칤a M치rquez: Colombian (1927).

## How can we represent an Author?

Now that we know what we want to represent **_logically_**, we need to find the correct data structure to represent it in our program. How could we store an author? I can think of different ideas:

##### Option 1. A large string

We could store the whole author information in a big string, separated by commas:

In [1]:
author = "Mark Twain,American,1835"
author

'Mark Twain,American,1835'

What problems do you see with this solution? Well, accessing elements is really hard. For example, to access the year of birth (and treat it as an integer), we need the following code:

In [2]:
int(author.split(',')[-1])

1835

What happens if someone gets confuses and mixes the places of year and nationality?

In [3]:
author = "Mark Twain,1835,American"
author

'Mark Twain,1835,American'

In [4]:
int(author.split(',')[-1])

ValueError: invalid literal for int() with base 10: 'American'

it fails! Beacuse the element isn't an integer. This is clearly not a good option.

##### Option 2. A tuple or list

We could represent an author using a sequential collection, like a tuple or list, one value per position. Example:

In [18]:
author = ("Mark Twain", "American", 1835)
author

('Mark Twain', 'American', 1835)

This is a little bit better because accessing is much simpler; we also don't need to "cast" types (transform the year in an integer for example):

In [19]:
print("'{name}' was born in _{year}_".format(name=author[0], year=author[-1]))

'Mark Twain' was born in _1835_

But the mixing up of fields still happens:

In [20]:
author = ("Mark Twain", 1835, "American")
author

('Mark Twain', 1835, 'American')

In [21]:
print("'{name}' was born in _{year}_".format(name=author[0], year=author[-1]))

'Mark Twain' was born in _American_

Also, when the data starts growing, it's REALLY hard to keep track of what each value means. For example, can you indetify each one of the values of the following author:

In [22]:
author = ("Mark Twain", "United States", "CT", 11, 30, 1835, "United States", "MO", 4, 21, 1910, 366, 4, 1870)
author

('Mark Twain',
 'United States',
 'CT',
 11,
 30,
 1835,
 'United States',
 'MO',
 4,
 21,
 1910,
 366,
 4,
 1870)

It's a little bit hard, right? Our third option will be much better

##### Option 3. Dictionaries

Dictionaries will be a lot better to store this type of "structured" information. For example, our previous author will be represented in this way:

In [23]:
author = {
    "Name": 'Mark Twain',
    "Country Born": 'United States',
    "State Born": 'CT',
    "Month Born": 11,
    "Day Born": 30,
    "Year Born": 1835,
    "Country Died": 'United States',
    "State Died": 'MO',
    "Month Died": 4,
    "Day Died": 21,
    "Year Died": 1910,
    "Number of pages of most notable work": 366,
    "Number of children": 4,
    "Year married": 1870
}

In [24]:
author

{'Name': 'Mark Twain',
 'Country Born': 'United States',
 'State Born': 'CT',
 'Month Born': 11,
 'Day Born': 30,
 'Year Born': 1835,
 'Country Died': 'United States',
 'State Died': 'MO',
 'Month Died': 4,
 'Day Died': 21,
 'Year Died': 1910,
 'Number of pages of most notable work': 366,
 'Number of children': 4,
 'Year married': 1870}

Now it makes a lot more sense what each value represents. Even better, we can access values without ambiguities and without confusion:

In [25]:
author['Year Born']

1835

### One of the most important concepts in programming

One of the most important things to understand as a developer is that: **Most data structures will get the job done**, what's important is **understanding the advantages of one over the others**.

We could have used Option 1 and use just a big string. It would have gotten the job done. Is it ideal? **OF COURSE NOT!**; but that's when your judgement as a good developer will intervene.

## Many authors...

We saw how to represent a single author using a dictionary. How can we represent multiple authors?

In [26]:
twain = {
    'name': 'Mark Twain',
    'nationality': 'American',
    'year': 1835
}
austen = {
    'name': 'Jane Austen',
    'nationality': 'English',
    'year': 1775
}
marquez = {
    'name': 'Gabriel Garc칤a M치rquez',
    'nationality': 'Colombian',
    'year': 1927
}

The answer is: **with a list!**. Think about it: we have _a list_ of authors:

In [27]:
authors = [twain, austen, marquez]

In [28]:
authors

[{'name': 'Mark Twain', 'nationality': 'American', 'year': 1835},
 {'name': 'Jane Austen', 'nationality': 'English', 'year': 1775},
 {'name': 'Gabriel Garc칤a M치rquez', 'nationality': 'Colombian', 'year': 1927}]

### Nested collections

As you're used to already, we have just nested a couple of different collection types. In this case, we have a "list of dictionaries"; we've nested dictionaries inside a list.

### Representing Book

To represent a book we're going to use also a dictionary, the only twist will be that a book has an `Author`. Let's see...

In [29]:
adv_tom_sawyer = {
    'title': 'The Adventures of Tom Sawyer',
    'ISBN': '9780307475558',
    'author': twain
}

What do we have now? We have another nested collection. This time, we have nested dictionary: a book (represented as a dict) has an author (another dict):

In [30]:
adv_tom_sawyer

{'title': 'The Adventures of Tom Sawyer',
 'ISBN': '9780307475558',
 'author': {'name': 'Mark Twain', 'nationality': 'American', 'year': 1835}}

You can see the nesting of author there 游녡

### A _list_ of books

Similarly to what we did with authors, we're going to use a `list` to store _a list_ of books:

In [31]:
adv_tom_sawyer = {
    'title': 'The Adventures of Tom Sawyer',
    'ISBN': '9780307475558',
    'author': twain
}

adv_huck_finn = {
    'title': 'Adventures of Huckleberry Finn',
    'ISBN': '9780141439648',
    'author': twain
}

emma = {
    'title': 'Emma',
    'ISBN': '9780143107712',
    'author': austen
}

pride_and_prejudice = {
    'title': 'Pride and Prejudice',
    'ISBN': '9780141040349',
    'author': austen
}

hundred_years = {
    'title': 'One Hundred Years of Solitude',
    'ISBN': '9780241971826',
    'author': marquez
}

In [32]:
books = [adv_tom_sawyer, adv_huck_finn, emma, pride_and_prejudice, hundred_years]

In [33]:
len(books)

5

In [34]:
books

[{'title': 'The Adventures of Tom Sawyer',
  'ISBN': '9780307475558',
  'author': {'name': 'Mark Twain', 'nationality': 'American', 'year': 1835}},
 {'title': 'Adventures of Huckleberry Finn',
  'ISBN': '9780141439648',
  'author': {'name': 'Mark Twain', 'nationality': 'American', 'year': 1835}},
 {'title': 'Emma',
  'ISBN': '9780143107712',
  'author': {'name': 'Jane Austen', 'nationality': 'English', 'year': 1775}},
 {'title': 'Pride and Prejudice',
  'ISBN': '9780141040349',
  'author': {'name': 'Jane Austen', 'nationality': 'English', 'year': 1775}},
 {'title': 'One Hundred Years of Solitude',
  'ISBN': '9780241971826',
  'author': {'name': 'Gabriel Garc칤a M치rquez',
   'nationality': 'Colombian',
   'year': 1927}}]

游뱂 What do we have now? We have _a list_ of books... each book is _a dictionary_ that contains an author, which is another _dictionary_.

So we have: **a dict, inside a dict, inside a list...**

![Mind blown](https://media.giphy.com/media/xT0xeJpnrWC4XWblEk/giphy.gif)

Or better...

![math lady](https://media1.tenor.com/images/fb3f2d1e814190100a4ae401b1660d5b/tenor.gif?itemid=6081931)

## Activity 1: Searching books by american authors

Write a function `search_by_country` that receives a list of books and a nationality and looks for all the books written by authors of that nationality:

In [35]:
books

[{'title': 'The Adventures of Tom Sawyer',
  'ISBN': '9780307475558',
  'author': {'name': 'Mark Twain', 'nationality': 'American', 'year': 1835}},
 {'title': 'Adventures of Huckleberry Finn',
  'ISBN': '9780141439648',
  'author': {'name': 'Mark Twain', 'nationality': 'American', 'year': 1835}},
 {'title': 'Emma',
  'ISBN': '9780143107712',
  'author': {'name': 'Jane Austen', 'nationality': 'English', 'year': 1775}},
 {'title': 'Pride and Prejudice',
  'ISBN': '9780141040349',
  'author': {'name': 'Jane Austen', 'nationality': 'English', 'year': 1775}},
 {'title': 'One Hundred Years of Solitude',
  'ISBN': '9780241971826',
  'author': {'name': 'Gabriel Garc칤a M치rquez',
   'nationality': 'Colombian',
   'year': 1927}}]

In [36]:
# TODO: Remove solution
def search_books_by_nationality(books_list, nationality):
    results = []
    for book in books_list:
        if book['author']['nationality'] == nationality:
            results.append(book)
    return results

In [37]:
search_books_by_nationality(books, 'American')

[{'title': 'The Adventures of Tom Sawyer',
  'ISBN': '9780307475558',
  'author': {'name': 'Mark Twain', 'nationality': 'American', 'year': 1835}},
 {'title': 'Adventures of Huckleberry Finn',
  'ISBN': '9780141439648',
  'author': {'name': 'Mark Twain', 'nationality': 'American', 'year': 1835}}]

In [38]:
search_books_by_nationality(books, 'Colombian')

[{'title': 'One Hundred Years of Solitude',
  'ISBN': '9780241971826',
  'author': {'name': 'Gabriel Garc칤a M치rquez',
   'nationality': 'Colombian',
   'year': 1927}}]

## Representing the bookstore

We said a bookstore stores the following info: a _name_, a _list of authors_ and a _list of books_. We know we can use also a dictionary for that:

In [52]:
marys_bookstore = {
    'name': "Mary's bookstore",
    'books': [],
    'authors': []
}

james_bookstore = {
    'name': "James's bookstore",
    'books': [],
    'authors': []
}

We can now add the authors and books that the bookstores will have available. For example:

In [53]:
marys_bookstore['books'].append(adv_huck_finn)
marys_bookstore['books'].append(adv_tom_sawyer)
marys_bookstore['books'].append(pride_and_prejudice)

marys_bookstore['authors'].append(twain)
marys_bookstore['authors'].append(austen)

In [54]:
marys_bookstore

{'name': "Mary's bookstore",
 'books': [{'title': 'Adventures of Huckleberry Finn',
   'ISBN': '9780141439648',
   'author': {'name': 'Mark Twain', 'nationality': 'American', 'year': 1835}},
  {'title': 'The Adventures of Tom Sawyer',
   'ISBN': '9780307475558',
   'author': {'name': 'Mark Twain', 'nationality': 'American', 'year': 1835}},
  {'title': 'Pride and Prejudice',
   'ISBN': '9780141040349',
   'author': {'name': 'Jane Austen', 'nationality': 'English', 'year': 1775}}],
 'authors': [{'name': 'Mark Twain', 'nationality': 'American', 'year': 1835},
  {'name': 'Jane Austen', 'nationality': 'English', 'year': 1775}]}

In [55]:
james_bookstore['books'].append(emma)
james_bookstore['books'].append(hundred_years)

james_bookstore['authors'].append(austen)
james_bookstore['authors'].append(marquez)

In [56]:
james_bookstore

{'name': "James's bookstore",
 'books': [{'title': 'Emma',
   'ISBN': '9780143107712',
   'author': {'name': 'Jane Austen', 'nationality': 'English', 'year': 1775}},
  {'title': 'One Hundred Years of Solitude',
   'ISBN': '9780241971826',
   'author': {'name': 'Gabriel Garc칤a M치rquez',
    'nationality': 'Colombian',
    'year': 1927}}],
 'authors': [{'name': 'Jane Austen', 'nationality': 'English', 'year': 1775},
  {'name': 'Gabriel Garc칤a M치rquez',
   'nationality': 'Colombian',
   'year': 1927}]}

## Activity 2: Get authors by name

Write a function `get_author_by_name` that receives a bookstore and a name of an author and returns all the authors in the bookstore that match that name:

In [57]:
def get_author_by_name(bookstore, name):
    for author in bookstore['authors']:
        if author['name'] == name:
            return author

In [58]:
get_author_by_name(marys_bookstore, 'Jane Austen')

{'name': 'Jane Austen', 'nationality': 'English', 'year': 1775}

In [59]:
get_author_by_name(james_bookstore, 'Gabriel Garc칤a M치rquez')

{'name': 'Gabriel Garc칤a M치rquez', 'nationality': 'Colombian', 'year': 1927}

In [61]:
get_author_by_name(james_bookstore, 'Non existen author')  # should return None

## Finishing the practice

Now with the help of your teacher, you have to apply what we've practiced so far to work on today's practice. Your job is to implement `bookstore.py`, using the tests defined in `tests.py`.